body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(47, 33, 96);
    padding: 20px;
    font-size: 32px;
    color: rgb(72, 17, 102);
}

div{
color: rgb(255, 255, 255)
}

.chamada {
    background: rgb(128, 50, 128);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
 }

 .chamada-texto {

margin-right: 5%;
 }

 h1 {
font-size: 40px;
 }

 p {
    font-size: 20px;
 }

 .categoria-vídeos {
display: flex;
overflow-x: auto;
gap: 20px;
 }

 .categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

 .categoria-vídeos img {
    opacity: 0.5;
    height: 280px;
}

.categoria-vídeos img:hover {
opacity: 1.0;
border: 2px solid white;
}

.categoria h2 {
    color:rgb(72, 17, 102);
} ;
